In [1]:
import requests
from bs4 import BeautifulSoup
import pandas
import os

In [2]:
#headers to allow it to work on sites that don't 'like' scripts
headers = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
base_url='https://www.google.com/travel/things-to-do/see-all?g2lb=2502548%2C4258168%2C4260007%2C4270442%2C4274032%2C4291318%2C4305595%2C4306835%2C4308216%2C4308226%2C4317915%2C4326765%2C4328159%2C4329288%2C4330113%2C4333265%2C4356223%2C4357967%2C4363568%2C4364231%2C4366684%2C4366858%2C4369397%2C4371630%2C4270859%2C4284970%2C4291517%2C4316256%2C4356900&hl=en&gl=ke&un=1&otf=1&dest_mid=%2Fm%2F019rg5&dest_state_type=sattd&tcfs=EgsKCS9tLzAxOXJnNQ&sa=X&utm_campaign=sharing&utm_medium=link&utm_source=htls#ttdm=-2.624816_33.328604_6&ttdmf=%252Fm%252F06jcjh'
base_wikipedia_url = 'https://en.wikipedia.org/wiki/'

In [3]:
#send request and get content
r=requests.get(base_url,headers=headers)
c=r.content
soup=BeautifulSoup(c, 'html.parser')

In [4]:
#fetch data from the content
pagecontent=soup.find_all('div', {'class':'Ld2paf'})

In [18]:
data=[]
for a in pagecontent:
    entry={}
    #place title
    try:
        title = a.find_all('div',{'class': 'skFvHc YmWhbc'})[0].text
        entry['Title'] = title
    except:
        entry['Title'] = None
    #place ratings
    try:
        r = a.find_all('span',{'class': 'KFi5wf'})[0].text
        entry['Rating'] = r       
    except:
        entry['Rating'] = None
    #number of place reviews
    try:
        reviews = a.find_all('span',{'class': 'jdzyld'})[0].text
        entry['Reviews'] =  reviews.strip().replace("(",'').replace(")",'')
    except:
        entry['Reviews'] = None
    #brief descriptions
    try:
        brief_description = a.find_all('div' , {'class':'nFoFM'})[0].text
        entry['Brief_Description'] =  brief_description
    except:
        entry['Brief_Description'] =  None
    #mail image url
    try:
        i1 = a.find_all('img', {'class':"R1Ybne YH2pd"})[0]['data-src']
        entry['Image_Url'] = img_url
    except:
        try:
            i2=a.find_all('img', {'class':"R1Ybne pzJ1lf"})[0]['data-src']
            entry['Image_Url'] = i2
        except:
            entry['Image_Url'] = None
        
    try:
        wikipedia_url= base_wikipedia_url+ entry['Title'].replace(" ",'_')
        entry['WikipediaLink'] = wikipedia_url
    except:
        entry['WikipediaLink']=None
    data.append(entry)

https://lh5.googleusercontent.com/p/AF1QipPCIPhFigfN2RFJFJjGENSKDWhqT4HEcY0okh0=w464-h260-n-k-no
https://lh4.googleusercontent.com/proxy/tS4dUsR12hetHfa2g3o8yxeGxqfeQ13lLP6zv1aq4uUpSSPnzSrUL4IpQKjlLixzs1FX-GwgVfCYuoHl7F17yOjtPlCq99qrP0_6ZXtPPe_x5Re4MaMzDkz5DGxsr9_JHBqZPCOU3MkE9pDGrvk0vpDQAwr2v1e8S5A=w464-h260-n-k-no
https://lh6.googleusercontent.com/proxy/mclvRyCs9z2C480MtQcRrJ3E7KMDAP8iy9jS-V_H8yTfxiyFV9tTT9BacPCAWwqUw4Z0NHuYz2ZKJNpgqtR8EAZQ5uZJulVE9ip-zKnp1AVTVQmuW7l77bIlWchGy40XK4jTW7r7Q1qzbey3sFFZtSZuXwqm1gSLTNU=w464-h260-n-k-no
https://lh5.googleusercontent.com/p/AF1QipO8fhy0VCuUUscJjpyhonCejHkjzHQRSyrw1020=w464-h260-n-k-no
https://lh5.googleusercontent.com/p/AF1QipPpSd_8CKONFe1E-xSUN2eIvi18z79mc2mwUPJt=w464-h260-n-k-no
https://lh6.googleusercontent.com/proxy/NsuTA8yT5u7r1ECxhBguVCffyu0oDbJZwU1u1gFA1iGn5zoPP7uG37_bQl3VsTEeX4vMse8bibdRXrKAP_t5SVE_C2WV0J6YZrGGS0Lk4ojfyP6m1LVqXVPji87MSOFlnzW6ok80X46T4jufzC-lE5wGi80qnoF-UWE=w464-h260-n-k-no
https://lh5.googleusercontent.com/p/AF1QipO82lqxtn64CUA97-QA-IOYy3VqJWv8yWmTHi8G=w464-h260-n-k-no

In [7]:
df=pandas.DataFrame(data)
#df.to_csv('/data/travel_data.csv')
df

,Title,Rating,Reviews,Brief_Description,Image_Url,WikipediaLink
0,Maasai Mara,4.8,110,Wildebeest migration & Maasai villages,None,https://en.wikipedia.org/wiki/Maasai_Mara
1,Amboseli National Park,4.7,"2,791",Elephants & views of Mount Kilimanjaro,None,https://en.wikipedia.org/wiki/Amboseli_Nationa...
2,Lake Nakuru,4.3,166,Lake with flamingos in a national park,None,https://en.wikipedia.org/wiki/Lake_Nakuru
3,Tsavo East National Park,4.5,"4,886",Sprawling wildlife reserve since 1948,None,https://en.wikipedia.org/wiki/Tsavo_East_Natio...
4,Mount Kenya,4.4,206,Mountain peak with trails & camping,None,https://en.wikipedia.org/wiki/Mount_Kenya
...,...,...,...,...,...,...
94,Ngare Ndare Forest,None,None,"Forest, safari, and outdoor recreation",None,https://en.wikipedia.org/wiki/Ngare_Ndare_Forest
95,Lake Victoria,4.3,"3,802","Massive, iconic lake for fishing & more",None,https://en.wikipedia.org/wiki/Lake_Victoria
96,Lake Natron,4.3,154,Flamingos & Ol Doinyo Lengai Volcano,None,https://en.wikipedia.org/wiki/Lake_Natron
97,Mount Elgon National Park,4.2,"1,397",National park around an extinct volcano,None,https://en.wikipedia.org/wiki/Mount_Elgon_Nati...
98,Mount Elgon,4.4,45,Volcanic peak with hiking & biking,None,https://en.wikipedia.org/wiki/Mount_Elgon